.bg {
  /* The image used */
  background-image: url("img/Method.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 /* display :grid;*/
}

body, html {
  height: 100%;
}
.button{
	border-radius: 50px;
	background-color: #c71585f5;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  /*text-decoration: none;*/
  /*display: inline-block;*/
  font-size: 15px;
  margin: 10px 10px;

  position:relative;
    transition: .9s ease;
    top: 40px;
    bottom: -100px;
    left: 30px;
    right: -100px;
    
}