.bg {
  /* The image used */
  background-image: url("img/Method.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 /*grid-template-columns: repeat(auto-fit,100px);*/

  


}

body, html {
  height: 100%;



}
.body{
    background-color: lightblue;

}

.button{
	border-radius: 50px;
	background-color: #c71585f5;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  
  font-size: 20px;
  margin: 5px 5px;
/*position: absolute;*/
  position:relative;
   /* transition: .9s ease;
    
   
    
    */
    font-weight: bold;
     bottom: -100px;
   right: -100px;
   top: 30px;
   left: 10px;
    /*-webkit-border-radius: .5vw;*/
    /*line-height: 4.3vw;*/
    color: white;
   
    width: 30%;
    text-align: center;  
    border: white 2px solid ;    
   
}

.h1Div {

    text-align: center;
    margin: 50px;
    color: yellowgreen; 
    background-color:yellow;
    border-style: solid;
     border-width: 10px 20px;
     border-color: red green blue green

}
.buttonH4{
  border-radius: 30px;
  background-color: #c71585f5;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  
  background-color: violet;
    font-size: unset;
    padding: 10px;
    position: relative;
    margin: 10px 10px 50px 620px;
    
}
pre {
  color: #9C27B0;
    font-size: x-large;
    text-align: -webkit-center;
}
.h2{
  text-align: center;

    margin: 50px;
    color: red;
  border: 2px double red;
   border-radius: 20px;

    padding: 20px;
    margin FONT-VARIANT: JIS04;
    border-bottom-width: thick;
    height: 20px;
    width: 200px;
    position:relative; 
    left:500px; 
    top:20px;
    
    align-content: center;
    

}


.hide{
  display:none;
}
.show{
  display:block;
}

.right{
  float:right;
  padding: 8px;
    padding-bottom: 10px;
    margin-right: 100px;

    
   
}
.left{
  float: left;
  padding: 8px;
    padding-bottom: 10px;
    
    margin-left: 100px;
    margin-left: 100px;
    margin-top: 10px
    margin-top: 10px;
}

.clear{
  float: center;
  padding: 8px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.item {
    float: left;
    padding: 10px;
    padding-bottom: 10px;
}

#Ask {
      border: revert;
    background-color: darkturquoise;
    background-position: center;
    font-size: x-large;
    margin-left: 150px;
    margin-top: 50px;

    top:30px;
}
.Q{

  font-size: larger;
}
.Pbutton{

  border: revert;
    border-radius: 50px;
    font-size: xx-large;
    padding: 5px 5px 10px 10px;
    background-color: #80e609fc;
    background-color: navajowhite;
    font-size: x-large;

}
.submit{
  border: revert;
    background-color: darkturquoise;
    background-position: center;
    font-size: x-large;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 50px;

}

.same{
    font-size: larger;
    margin: 50px;
    margin-left: 50px;
    margin-right:50px;

}

.str{
  font-size: larger;
  margin: 50px;
  margin-left: 50px
    margin-right:50px;
     margin-top: 80px;
    margin-bottom: 50px;
}
.s{
  text-align: center;
  margin: 50px;
}